@font-face{
    font-family: netflix-sans-regular;
    src:url("../")
}

.img-logo{
    width: 14%;
    color: #e50914;
}

.btn-sign-in{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #e50914;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.root{
    background-image: radial-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url(../bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar{
    padding-left:2vw;
    padding-right: 4vw;
    padding-top: 1%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


body{
    padding: 0px;
    margin: 0px;
    overflow-y:hidden ;
}

.main-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title-container{
    color: white;
    text-align: center;
    width: 50%;

}

.main-title{
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 14px;
}

.main-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.main-call-to-action{
    font-family: Arial, Helvetica, sans-serif;
    font:1.2rem;
}

.main-email-container{
    width: 55%;
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-email-container-input{
    outline: none;
    border: none;
    padding: 20px 10px;
    font-size: 1rem;
}

.btn-get-started{
    cursor: pointer;
    padding: 18px 32px;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    background-color: #e50914;
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
}


.btn-get-started:hover{
    background-color: #ff0b18;
}